@tailwind base;
@tailwind components;
@tailwind utilities;



.container {
    max-width: 1180px;
    margin: auto;
}

.semigray-300 {
    background-color: #F4F7F8;
}

.text-semigreen-300 {
    color: #145855;
}

.border-semigreen-300 {
    border: 1px solid #145855;
}